OPENAI_API_KEY=your-openai-api-key
# using the Langchain will let us see everything in LangChain Explorer
LANGCHAIN_API_KEY=your-langchain-api-key
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=your-project-name